[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "projectLSA"]
	path = projectLSA
	url = https://github.com/hdmeasure/projectlsa
